.poster-image{
    width: 200px;
    height: 320px;  
    border-radius: 10px;
    cursor: pointer; 
    transition: transform 0.3s ease; 
}

.poster-image:hover{
    transform: scale(1.1);
}
 

.poster-image-static{
    width: 200px;
    height: 320px;  
    border-radius: 10px;
    cursor: pointer;  
}
 