.seat{   
    width: 40px;
    height: 40px; 
    border: none;
    border-radius: 10px; 
    cursor: pointer; 
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    transition-duration: 0.3s; 
    color: #fff;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

 
.selected{
    background-color: #641c1c;
    color: #fff;
}

.unavailable{
    background-color: #787272;
    cursor: not-allowed;
}

.div1{
    background-color: #000000;
    width: 30px; 
    height: 3px;  
    border-radius: 2px;
    transform: rotate(45deg);  
}

.div2{
    background-color: #000000;
    width: 30px; 
    height: 3px;  
    border-radius: 2px; 
    transform: rotate(-45deg);
    position: absolute;
} 