.data-container{
    display: flex;
    flex-direction: column;  
    border-radius: 10px;   
    height: 60%;
    overflow: hidden; 
}

.day{
    font-weight: 400;
    width: 150px; 
    font-size: 19px;
    letter-spacing: 1px;
    color: #fff;  
}

.roomSession{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 10px;
}
 

.time-container{    
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;  
    white-space: pre-wrap; 
}

.btn-time{
    width: 90px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #c90c0cd5;
    color: #c90c0cd5;
    background-color: #f1eeeef3;
    cursor: pointer;
}

.btn-time:active{
    border: none;
}

.btn-time:hover{
    color: #000;
}

.sessionData-container{ 
    display: flex;
    padding: 16px;  
    margin: 0 20px 20px 0;
    align-items: center;
    background-color: #2e2c2cd5;
    border-radius: 10px;
}
 
.skeleton-sessionData{ 
    display: flex;
    padding: 16px;  
    margin: 0 20px 20px 0;
    align-items: center;
    background-color: #be2a2ad5;
    border-radius: 10px;
}
 