.data-conatiner{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 20px; 
    padding: 20px 10px;
    border-radius: 10px;
    background-color: #3f3d3da4;  
    width: 90%;
    height: 50%;
    overflow: hidden;
}

.day{
    font-weight: 400;
    width: 150px; 
    font-size: 19px;
    letter-spacing: 1px;
    color: #fff;  
}
 

.time-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px; 
}

.btn-time{
    width: 90px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #c90c0cd5;
    color: #c90c0cd5;
    background-color: #f1eeeef3;
    cursor: pointer;
}

.btn-time:active{
    border: none;
}

.btn-time:hover{
    color: #000;
}