body{
    background-color: #000000f5; 
}

.containerMovies{
    padding: 100px;  
}

.homepage-title{ 
    padding-top: 70px;
    font-size: 80px;
    color: #a32121;
}
  
.skeleton-poster{
    width: 200px;
    height: 320px;  
    border-radius: 10px;
    cursor: pointer;
}

.floating-btn{
    position: fixed;
    bottom: 10px;
    right: 50px;
}